<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<style>
    .layout{
        width:500px;
        margin:0 auto;
        margin-top:40px;
    }
    .layout_image{
        width:500px;
        height:500px;
    }
    .layout_image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
<body>
    <div class="layout">
        <div class="layout_table">
            <table>
                <thead>
                <tr>
                    <th>where_to_use</th>
                    <th>gifticon_name</th>
                    <th>expiration_date</th>
                    <th>serial_code</th>
                    <th>register_time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "gifticon : ${list}">
                    <td th:text="${gifticon.where_to_use}"></td>
                    <td th:text="${gifticon.gifticon_name}"></td>
                    <td th:text="${gifticon.expiration_date}"></td>
                    <td th:text="${gifticon.serial_code}"></td>
                    <td th:text="${gifticon.register_time}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="layout_image">
            <img th:src="${gifticon.original_image_path}" alt="Image">
        </div>
    </div>
</body>
</html>